
$menu-shadow: 0 .15em .6em -.35em var(--bottom-menu-shadow-color, black);

body {
    color-scheme: light;
    scrollbar-color: #0005 transparent;

    --background-color: white;
    --grid-color: #eee;
    --accent-color-blue: #6b8edf;
    --accent-color-red: #e65656;
    --accent-color-orange: #eba732;
    --accent-color-purple: #9f30b3;
    --ruler-color: #333;

    --bottom-menu-background-color: white;
    --bottom-menu-shadow-color: black;
    --bottom-menu-icon-color: #888;
    --bottom-menu-icon-color-mix: #000;

    --side-menu-background-color: white;
    --side-menu-head-color: #333;
    --side-menu-head-text-color: white;
    --side-menu-text-color: #222;

    --side-menu-input-border-color: #aaa;
    --side-menu-input-border-color-focus: #555;
    --side-menu-option-background-color: #eee;
    --side-menu-option-hover-color: #ccc;

    --side-menu-icon-color: #666;
    --side-menu-icon-color-mix: #000;
    --side-menu-line-color: #aaa;
    --side-menu-button-color: #eee;

    --pin-background-color: #ccc;

    --orbit-color: #aaa;

    --time-background-color: #e8e8e8;
    --time-text-color: #444;

    color: black;
}

body.dark-mode {
    color-scheme: dark;
    scrollbar-color: #fff5 transparent;

    --background-color: #061225;
    --grid-color: #0f2240;
    --accent-color-purple: #bf60cf;
    --ruler-color: #ccc;

    --bottom-menu-background-color: #192e4f;
    --bottom-menu-shadow-color: black;
    --bottom-menu-icon-color: #abaecb;
    --bottom-menu-icon-color-mix: #000;

    --side-menu-background-color: #192e4f;
    --side-menu-head-color: #eee;
    --side-menu-head-text-color: #333;
    --side-menu-text-color: #ddd;

    --side-menu-input-border-color: #4e6892;
    --side-menu-input-border-color-focus: #88a0c4;
    --side-menu-option-background-color: #121e34;
    --side-menu-option-hover-color: #2e4b7e;

    --side-menu-icon-color: #aaa;
    --side-menu-icon-color-mix: #000;
    --side-menu-line-color: #4e6892;
    --side-menu-button-color: #12213a;

    --pin-background-color: #313f56;

    --orbit-color: #33435b;

    color: #ddd;

    --time-background-color: #192e4f;
    --time-text-color: #c1bf9d;
}